<div ng-show="!cargando">
	<div ng-repeat="x in listas" ng-show="{{x.lista != null}}" class="listaWrapper" data-nombre-lista="{{x.nombre}}" >
		<div class="lista">
			<div class="contenidoLista">
				<a class="lugar" ng-repeat="l in x.lista" href="#/lugar/{{l.id}}" style="background-image: url({{URL_SERVER + l.imagen}});">
					<div class="datos">
						<div class="nombre">{{l.nombre}}</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- 
<bottom id="btn-camara" camera ng-model='myPicture' class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
	<i class="material-icons">camera_alt</i>
</bottom>
-->
<md-button id="btn-camara" camera ng-model='myPicture' class="md-fab btn-float" aria-label="Tomar Fotografia" >
  <i class="material-icons">camera_alt</i>
</md-button>

<div ng-show="cargando">
	<div id="pantalla_cargando">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
</div>