<div ng-show="!cargando">
	<div class="listaCompleta">
		<a class="item" ng-repeat="l in lugares" href="#/lugar/{{l.id}}" style=" background-image: url({{URL_SERVER + l.imagen}}) ">
			<div class="datos">
				<div class="nombre">
					{{l.nombre}}
				</div>
			</div>
		</a>
	</div>
</div>
<div ng-show="cargando">
	<div id="pantalla_cargando">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
</div>