<div ng-show="selectedIndex==0" class="portadaLugar" nombre-lugar="{{lugar.nombre}}" style="
	background-image: url(https://pdu-francuchin.c9users.io{{images[0].imagen}})" ng-click="asigimg('https://pdu-francuchin.c9users.io' + images[0].imagen)" aria-label="ver">
</div>
<div class="tabsdemoDynamicHeight" ng-cloak="">
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex">
      <md-tab label="Articulo">
        <md-content class="md-padding articulo"  ng-bind-html="lugar.articulo">          
        </md-content>
      </md-tab>
      <md-tab label="Galeria">
        <md-content class="md-padding">
         <ul class="galeria">
    		  <li ng-repeat="image in images" ng-click="asigimg('https://pdu-francuchin.c9users.io' + image.imagen)" aria-label="ver">
    		      <div class="img-thumbnail" style="background-image: url(https://pdu-francuchin.c9users.io{{image.imagen}})"></div>
    		  </li>
    		</ul>
        </md-content>
      </md-tab>
      <md-tab label="Map">
        <md-content class="md-padding">
		    <ng-map center="{{lugar.latitud}}, {{lugar.longitud}}" zoom="15" map-type-control="false">
			    <custom-control id="home" position="TOP_RIGHT" index="1" on-click="centerMap()">
			      <div style="	margin: 10px;
								padding: 5px 10px;
								background-color: white;
								color: rgba(0, 0, 0, 0.6);
								cursor: pointer;
								overflow: hidden;
								border: 1px solid rgba(40,40,40,.2);
								border-radius: 2px;
								box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); ">
								<i class="fa fa-crosshairs" aria-hidden="true"></i>
								</div>
			    </custom-control>
		    	<marker id="foo" position="{{lugar.latitud}}, {{lugar.longitud}}"></marker>
		    </ng-map>
        </md-content>
      </md-tab>
      <md-tab label="Comentarios">
        <md-content class="md-padding">  
      	<md-list flex>
	        <md-list-item ng-repeat="comentario in comentarios" class="md-3-line" ng-click="null">
	          <img ng-src="{{comentario.imagen}}" class="md-avatar" alt="{{comentario.user_name}}" />
	           <div class="md-list-item-text comentario">
	            <h3>{{ comentario.user_name }}</h3>
	            <h4>{{ comentario.user_email }}</h4>
	            <p>{{ comentario.comentario }}</p>
	          </div>
	        </md-list-item> 
        <md-list flex> 
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
<md-button ng-show="selectedIndex==3" class="md-fab btn-float" aria-label="Comentar" ng-click="Comentar($event)">
  <i class="material-icons">message</i>
</md-button>
</div>
<div style="visibility: hidden">
<div class="md-dialog-container" id="vista-previa">
  <md-dialog layout-padding aria-label="imagen">
      <md-card>
        <img ng-src="{{imagePath}}" class="md-card-image" alt="imagen">
      </md-card>
  </md-dialog>
</div>

<div style="visibility: hidden">
<div class="md-dialog-container" id="myDialog">
  <md-dialog layout-padding>
  <h4>Comentar</h4>
    <md-input-container>
      <label>Nombre</label>
      <input ng-model="comentario.nombre" required>
    </md-input-container>
    <md-input-container>
      <label>Email</label>
      <input ng-model="comentario.email" type="email" required>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Comentario</label>
      <textarea ng-model="comentario.texto" md-maxlength="150" rows="5" md-select-on-focus required></textarea>
    </md-input-container>
    <md-input-container>
    	<md-button md-no-ink class="md-primary">Ok</md-button>
    </md-input-container>
  </md-dialog>
</div>