<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>PaysApp</title>  
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/material.indigo-blue.min.css">  
    <link rel="stylesheet" href="css/angular-material.min.css">

    <link rel="stylesheet" href="css/main.css">
    <style type="text/css">
            .mdl-layout__drawer-button{
                color:white;
            }
    </style>   
</head>
<body ng-app="WebApp">
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header " style="display: flex;">
        <div class="mdl-layout__header-row mdl-layout--fixed-header">
          <span class="mdl-layout-title" id="titulo_app">PaysApp</span>
        </div>
    </header>
    <div class="mdl-layout__drawer" ng-controller="ListadoCtrl">
        <span class="mdl-layout-title">PaysApp</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="#/">Inicio</a>
          <a ng-repeat="x in listas" class="mdl-navigation__link" ng-show="{{x.lista != null}}" href="#/lista/{{x.nombre}}">
            {{x.nombre}}
          </a>
        </nav>
  </div>
    <main class="mdl-layout__content">
    <div ng-view>
        
    </div>
    </main>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="js/material.min.js"></script>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/angular-route.js"></script>
<script type="text/javascript" src="js/angular-animate.js"></script>
<script type="text/javascript" src="js/angular-sanitize.js"></script>
<script type="text/javascript" src="js/angular-aria.min.js"></script>
<script type="text/javascript" src="js/angular-material.min.js"></script>
<script type="text/javascript" src="js/ng-map.min.js"></script>
<script type="text/javascript" src="phonegap.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>