body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:rgb(235,235,235);
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width: 100%;
    display: table;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
a{
  text-decoration-line: none!important;
}
.btn-float{
    position: fixed;
    bottom: 15px;
    right: 15px;
    transform:scale(1.3);
    z-index: 4;
    background-color: #3F51B5!important;
}
.btn-float > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.3);
}
/*--- Listas ---*/

.listaWrapper::before {
  display: block;
  content: attr(data-nombre-lista);
  color: #3F51B5;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.5px;
  text-shadow: 0 0 1px rgba(40,40,40,.2);
  text-transform: uppercase;
  white-space: nowrap;
  margin: 8px 0 0 10px;
}
.lista{
  width: 100%;
  margin:0;
  overflow-y: hidden;
}
.lista > .contenidoLista{
  display: inline-block;
  white-space: nowrap;

}
.contenidoLista > .lugar{
  display: inline-block;
}

.portadaLugar{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 25vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: height .4s;
}

.portadaLugar::before{
  content: attr(nombre-lugar);
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 3px;
  text-shadow:  1px 1px 2px #3F51B5,
                1px 0 2px #3F51B5,
                0 0 3px #3F51B5,
                -1px 1px 1px #3F51B5,
                -1px 0 2px #3F51B5,
                0px 0 1px black,
                0px 0 1px black;
  color: white;
  width: auto;
  max-width: 50%;
  font-stretch: expanded;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
/*--- articulo  ---*/
.articulo{
    color:rgba(0,0,0,.9);
    padding: 1em;
}
.articulo > img{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 4px 0 rgba(0,0,0,.12),0 1px 2px -1px rgba(0,0,0,.2);
    border-radius: 2px;
    border:2px solid white;
    float: left;
    margin: 5px;
}
.articulo > .derecha{
    float: right;
}
.articulo > .porcentaje-50{
    width:50%;
}
/*--- --- */
#pantalla_cargando{
  position: absolute;
  top: 50%;
  left: 50%;  
  z-index: 104;
}

#pantalla_cargando > md-progress-circular{
  position: absolute;
  transform: translate(-50%, -50%);
}
/*--- GALERIA ----*/
.galeria{
  padding: 0;
  margin: 5px;
  list-style-type:none;
  width: calc( 100% - 10px);
  line-height:0;
}
.galeria>li{
  display: inline-block;
  width: 33.3%;
  height: 30vw;
  border: 1px solid rgba(40,40,40,.4);
  box-sizing: border-box;
}
.galeria>li>.img-thumbnail{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*--- G ----*/
@media screen and (max-width: 720px) and (orientation:portrait)  {
    .portadaLugar{
      height: 50vw;
    }
    .galeria>li{
      width: 49.7%;
    }
}
 @media screen and (orientation:landscape) { 
    .portadaLugar{
      height: 25vw;
    }
 }
/*--- ERROR ---*/
.error{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
}
.error > i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(8);
  color: rgba(160, 0, 0, 0.7);
  opacity: .3;
}
.error>p{
  padding: 5px;
  text-align: center;
  font-family: 'Enriqueta', arial, serif; 
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 0px 2px red, 
              -1px 0px 2px red,
              0px 1px 2px red,
              0px -1px 2px red,
              1px 0px 2px red, 
              -1px 0px 2px red,
              0px 1px 2px red,
              0px -1px 2px red;
  font-stretch: extra-condensed;
  font-size-adjust: .9;
  text-decoration-line: none;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; 
}
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; 
}
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white; 
}
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; 
}
/*---- Lista Completa----*/
.listaCompleta{
  top:0;
  left:0;
  width: 100vw;
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.listaCompleta > .item{
  padding: 0;
  margin: 2px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid white;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),
              0 1px 10px 0 rgba(0,0,0,.12),
              0 2px 4px -1px rgba(0,0,0,.2);
}
.listaCompleta > .item > .datos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  background-color: rgba(40,40,40,.5);
}
.listaCompleta > .item > .datos > .nombre { 
  left: 0;
  top: 50%;
  position: absolute;
  transform: translate(5px , -50%); 
  text-shadow:  1px 1px 2px #3F51B5,
                1px 0 2px #3F51B5,
                0 0 3px #3F51B5,
                -1px 1px 1px #3F51B5,
                -1px 0 2px #3F51B5,
                0px 0 1px black,
                0px 0 1px black;
  color: white;
  font-stretch: expanded;
  line-height: initial;
}
.lugar{  
  padding: 0;
  margin: 2px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid white;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),
              0 1px 10px 0 rgba(0,0,0,.12),
              0 2px 4px -1px rgba(0,0,0,.2);
}

.lugar>.porcentaje {
  background-color: #3f51b5;
  background-image: linear-gradient(transparent, rgba(0,0,0,0.2));
  border-radius: 3px 0 0 3px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #fff;
  font-size: 1rem;
  margin: 0 0 0 calc(60% + 6px);
  padding: 4px 0 4px 12px;
  position: relative;
  width: 40%;
  top: 6px;
  animation-name: movetePorcentaje;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes movetePorcentaje{
  0%{
    margin: 0 0 0 calc(100% + 6px);
    width: 0%;
    font-size: 0rem;
  }
  50%{
    font-size: 0rem;
  }
  100%{
    margin: 0 0 0 calc(60% + 6px);
    width: 40%;
    font-size: 1rem;
  }

}
.lugar>.porcentaje:after {
  border-color: #263746 transparent transparent #263746;
  border-style: solid;
  border-width: 3px;
  bottom: -6px;
  content: "";
  position: absolute;
  right: 0;
}
.lugar>.datos{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  background-color: rgba(40,40,40,.5);
}
.lugar>.datos>.nombre{
  left: 0;
  top: 50%;
  position: absolute;
  transform: translate(5px , -50%); 
  text-shadow:  1px 1px 2px #3F51B5,
                1px 0 2px #3F51B5,
                0 0 3px #3F51B5,
                -1px 1px 1px #3F51B5,
                -1px 0 2px #3F51B5,
                0px 0 1px black,
                0px 0 1px black;
  color: white;
  font-stretch: expanded;
  line-height: initial;
}

@media screen and (orientation:portrait)  {
  .listaCompleta > .item{
    width: calc(50vw - 4px);
    height: 30vh;
  }
  .lugar{
    width: calc(50vw - 4px);
    height: 30vh;
  }
}
 @media screen and (orientation:landscape) { 
  .listaCompleta > .item{
    width: calc(33.32vw - 4px);
    height: 46vh;
  }
  .lugar{
    width: calc(33.32vw - 4px);
    height: 46vh;
  }
 }

.ng-hide {
  height: 0;
}
 .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

 /*---- Comentarios ----*/

.comentario > h3{
  
}
.comentario > h4{
  
}
.comentario > p{

}

